header{
  background: #545e75;
  color: #f5f3f5;
  padding: 20px;
  text-align: center;
}

nav ul{
  background: #4A1942;
  list-style: none;
  width: 95%;
  text-align: center;
}

nav li{
  display: inline-flex;
}

nav li{
  display: inline-flex;
}
nav a{
  color: #545e75;
  text-decoration: none;
  padding: 10px;
  width: 170px;
}
nav a:hover{
  color: #d5b942;
}
header h1{
  font-family: "caveat",cursive;
}
header nav {
  font-family: 'pacifico',cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-<uniquifier>{
  font-family: "montserrat";sans-serif
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style:normal;
}
.shadows-into light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header h1{
    font-family: "Caveat", cursive;
}
body{
  background-color: #F0EFF4;
}
header nav{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.productos{   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productos{
width: 30%;
background-color: #FF206E;
padding: 20px 5px 20px 5px;
margin-bottom: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
transition: box-shadow 0.8s ease-in-out;
}
.productos:hover{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.productos img{
  width: 220px;
  height: 220 ;
  display: block;
  transition: tranform 0.3s ease-in-out;
  margin: 0 auto 10px;
}
.productos:hover img{
  transform: scale(1.1);
}
.productos button{
  display: block;
  margin: 0 auto;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.productos button:hover{
  background-color: #BE95C4;
}

footer{
  background-color:#4A1942 ;
  color: #f5f3f5;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  font-family: "Caveat", cursive;
  font-size: 24px;
}
 .links-informativos {
  width: 400px;
 }
 .links-informativos ul{
  list-style: none;
  margin: 0;
  padding: 0;
 }
 .links-informativos li a{
  text-decoration:none ;
  color:#f5f3f5;
 }
 *{
  box-shadow: border-box;
  margin: 0;
  padding: 0;
 }

 .redes-sociales{
  width: 300px;
 }
 .redes-sociales img{
  width: 50px;
  height: 50px;
  margin: 10px;
 }
 .redes-sociales li{
  display: inline-block;
  margin-right: 10px;
 }
 .redes-sociales img:hover{
  transform: scale(1.1);
 }

 .info-contacto{
  width: 200px;
  text-align: right;
  font-size: 14px;

 }
 
 /*Este es un identificador de css y se representa como un numeral # numeral*/

 #ProductosDestacados{
  color: #545e75;
 }
  #ProductosDestacados:hover{
  color: #d5b942;
}







body {font-family: Arial, Helvetica, sans-serif;}

table { font-family: «Lucida Sans Unicode», «Lucida Grande», Sans-Serif;
font-size: 12px; margin: 45px; width: 480px; text-align: left; border-collapse: collapse; }

th { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; }

td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
color: #669; border-top: 1px solid transparent; }

body{
  background-color: #F0EFF4;
}